<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campool.mapper.BookingMapper">
    <insert id="insertBooking" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO booking
        (rental_id, user_id, status, start_date, end_date, rental_period, cost, amount, create_time)
        VALUES
        (#{rentalId}, #{userId}, #{status}, #{startDate}, #{endDate}, #{rentalPeriod}, #{cost}, #{amount}, NOW())
    </insert>

    <update id="updateStatusById">
        UPDATE booking SET status = #{status} WHERE id = #{id};
    </update>

    <select id="selectAmountByIdAndStatus" resultType="java.lang.Integer">
        SELECT amount FROM booking WHERE id = #{id} AND status = #{status}
    </select>
</mapper>