<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campool.mapper.BookingMapper">
    <insert id="insertBooking" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO BOOKING
        (rental_id, user_id, status, start_date, end_date, rental_period, cost, amount, create_time)
        VALUES
        (#{rentalId}, #{userId}, #{status}, #{startDate}, #{endDate}, #{rentalPeriod}, #{cost}, #{amount}, NOW())
    </insert>

    <update id="updateStatusById">
        UPDATE BOOKING SET status = #{status} WHERE id = #{id};
    </update>

    <select id="findAmountByIdAndStatus" resultType="java.lang.Integer">
        SELECT amount FROM BOOKING WHERE id = #{id} AND status = #{status}
    </select>

    <select id="findStatesByIdAndStatus" resultType="com.campool.model.BookingState">
        SELECT b.id AS bookingId,
               b.rental_id AS rentalId,
               r.title AS title,
               b.start_date AS startDate,
               b.end_date AS endDate
        FROM BOOKING b
            JOIN RENTAL r ON b.rental_id = r.id
        WHERE b.status = #{status}
          AND b.user_id = #{id};
    </select>

    <select id="findInfoById" resultType="com.campool.model.BookingInfo">
        SELECT b.id AS bookingId,
               b.start_date AS startDate,
               b.end_date AS endDate,
               b.amount AS amount,

               r.id AS rentalId,
               r.title AS title,
               r.description AS description,
               r.status AS rentalStatus,
               ST_X(r.location) AS longitude,
               ST_Y(r.location) AS latitude,

               u.id AS userId,
               u.name AS name,
               u.email AS email,
               u.telephone AS telephone
        FROM BOOKING b
            JOIN RENTAL r ON b.rental_id = r.id
            JOIN USER u ON b.user_id = u.id
        WHERE b.id = #{id};
    </select>
</mapper>