<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campool.mapper.RentalMapper">
    <insert id="insertRental">
        INSERT INTO rental
            (
                title, description, status, user_id,
                start_date, end_date, cost,
                create_time, location
            )
        VALUES
            (
                #{rental.title}, #{rental.description}, 'status1', #{userId},
                #{rental.startDate}, #{rental.endDate}, #{rental.cost},
                NOW(), POINT(#{rental.longitude}, #{rental.latitude})
            )
    </insert>

    <insert id="insertGears">
        <selectKey keyProperty="rentalId" resultType="java.lang.Integer" order="BEFORE">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO gear (rental_id, name, type, count)
        VALUES
        <foreach item="gear" collection="gears" separator=",">
            (#{rentalId}, #{gear.name}, #{gear.typeId}, #{gear.count})
        </foreach>
    </insert>

    <select id="selectRentalsByLocation" resultType="com.campool.model.Rental">
        SELECT id AS rentalId,
               title,
               user_id AS userId,
               start_date AS startDate,
               end_date AS endDate,
               cost,
               ST_X(location) AS longitude,
               ST_Y(location) AS latitude
        FROM rental r
        <if test="rental.typeId != null">
        , gear g
        </if>
        WHERE  ST_Within(r.location, ST_GeomFromText(#{polygon}))
          AND r.status = 'status1'
          <if test="rental.typeId != null">
          AND r.id = g.rental_id AND g.type=#{rental.typeId}
          </if>
    </select>

    <select id="findRentalInfoById" resultType="com.campool.model.RentalInfo">
        SELECT id AS rentalId,
        title,
        description,
        status,
        user_id AS userId,
        start_date AS startDate,
        end_date AS endDate,
        cost,
        ST_X(location) AS longitude,
        ST_Y(location) AS latitude
        FROM rental
        WHERE id = #{id}
    </select>

    <select id="findGearsByRentalId" resultType="com.campool.model.CampingGear">
        SELECT name, type AS typeId, count
        FROM gear
        WHERE rental_id = #{rentalId}
    </select>

    <select id="selectCostByIdAndDate" resultType="java.lang.Integer">
        SELECT cost FROM rental
        <![CDATA[
        WHERE id = #{id} AND (#{startDate} BETWEEN start_date AND end_date) AND (#{endDate} BETWEEN start_date AND end_date);
        ]]>
    </select>
</mapper>